$theme: (
  dark: (
    500: 0 0% 100%,
    400: 0 0% 80%,
    300: 207 26% 17%,
    200: 209 23% 22%,
  ),
  light: (
    500: 200 15% 8%,
    400: 0 0% 52%,
    300: 0 0% 98%,
    200: 0 0% 100%,
  ),
);

$font-size: (
  600: 1.5rem,
  500: 1.45rem,
  400: 1rem,
  300: 0.875rem,
);

$font-weight: (
  300: 300,
  600: 600,
  800: 800,
);
