.grid-container {
  display: grid;
  grid-template-columns:
    minmax(min(5rem, 8vw, 6%), 1fr)
    minmax(21.437rem, 90rem)
    minmax(min(5rem, 8vw, 6%), 1fr);
  gap: var(--gap, 1rem);

  > * {
    grid-column: 2/3;
  }

  &-search-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 2.5rem;
    justify-content: space-between;
  }

  &-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.25rem, 1fr));
    gap: 2rem;
    place-items: center;
    margin-block: 2.5rem;
  }
}

.flex-container {
  display: flex;
}
