@use '../abstracts/variables' as *;

.stat {
  font-size: 2rem;
  font-weight: var(--fw-800);
}

.search {
  &-container {
    height: 2.5rem;
    position: relative;
    box-shadow: 0.5rem 0.5rem 1rem hsl(0 0% 0% / 0.125);
    border-radius: 100vh;
  }

  &-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    color: hsl(var(--primary-clr-400));
  }

  &-bar {
    height: 2.5rem;
    width: max(18.5rem, 35vw);
    max-width: 32rem;
    text-indent: 2.45rem;
    border: none;
    border-radius: 100vh;
    background-color: hsl(var(--primary-clr-200));
    color: hsl(var(--primary-clr-400));

    &::placeholder {
      color: hsl(var(--primary-clr-400));
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: hsl(var(--primary-clr-400));
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: hsl(var(--primary-clr-400));
    }
  }
}

.filter {
  position: relative;

  .active {
    opacity: 1;
    height: fit-content;
    translate: 0% 0%;
    transition: translate 500ms ease-in-out, opacity 700ms ease-in-out;
  }

  & > * {
    width: 12rem;
    background-color: hsl(var(--primary-clr-200));
    color: hsl(var(--primary-clr-500));
    border: none;
    box-shadow: 0.5rem 0.5rem 1rem hsl(0 0% 0% / 0.125);

    border-radius: 8px;
    font-weight: var(--fw-300);
    display: flex;
  }

  &-btn {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.85rem 0.75rem 1rem;

    &:hover {
      scale: 1.1;
      transition: scale 400ms ease;
    }
  }

  &-items {
    position: absolute;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.75rem 0;
    gap: 0.5rem;
    z-index: 1;
    bottom: -13.7rem;
    opacity: 0;
    translate: 0% -300%;
    transition: translate 500ms ease-in-out, opacity 300ms ease-in-out 0s;
  }

  &-item {
    padding: 0 1rem;
    width: 100%;
    cursor: pointer;

    &:is(:hover, :focus) {
      background-color: hsl(0 0% 0% / 0.125);
    }
  }
}
